</main>

<footer>
    <p class="has-text-centered has-background-primary-00 has-text-primary-00-invert">Copyright © <%= new Date().getFullYear() %></p>
    <p class="has-text-centered has-background-primary-00 has-text-primary-00-invert">Created by David, tested and confirmed to kind of work</p>
</footer>
</body>

</html>